:root{
    --midblue: #0c5692;
    --dgray: #424561;
    --dark: #044c8c;
    --lightblue: #4b79a1;
}

body {
    margin:0px;
    font-family: Arial, sans-serif;
}

.navbar{
    margin-top: 20px;
    margin-bottom: 60px;
    display: flex;
    border-bottom: 1px solid rgba(78, 78, 78, 0.26);
}

.logo{
    width: 200px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 45px;
    margin-right: 20px;

}

.navbtn{
    margin-top: 30px;
    margin-left: 40px;
    text-decoration: none;
    color:var(--lightblue);
}

.navbtn:hover{
    color: var(--dgray);
}

.intro{
    margin-top: 100px;
    margin-left: 60px;
    font-size: 50px;
    color:Black;
}

p{
    padding: 10px;
    margin-left: 60px;
    margin-bottom: 100px;
    font-size: 20px;
    color:Black;
}

.btn{
    background-color: var(--lightblue);
    color: white;
    text-decoration: none;
    padding:25px;
    margin-top: 100px;
    margin-left: 60px;
    font-size: 20px;
    border-radius: 10px;
}

.btn:hover{
    background-color: var(--dgray)
}

table {
    border-collapse: collapse;
}

#table-container {
    width: 100%;
    overflow-x: auto;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

th,
td {
    /*border: 1px solid #ddd; */
    padding: 10px;
    text-align: center;
    
}

/* Style the header cells */
th {
    background-color:var(--lightblue);
    font-weight:500;
    color: white;
    width: 20%;
}

/* Style the data cells */
td {
    vertical-align: top; /* Align data cells with top of header */
    border-bottom: 1px solid rgba(0, 0, 0, 0.466);
    
}


.apply-button {
    display: flex;
    width: 110px;
    height: 32px;
    padding: 0px 22px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background-color: var(--lightblue);
    color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none; /* Optional: remove default button borders */
    cursor: pointer; /* Optional: make it visually clear it's clickable */
    text-decoration: none; /* Optional: remove underlines from text */
    font-weight: bold; /* Make the text bold */
    text-decoration: none;
}

.apply-button:hover{
    background-color: var(--dgray);
}

.button-link {
    text-decoration: none;
}

/* about page formatting */

.cards_wrapper {
    float: left;
    display: flex;
    max-height: 100vh;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    min-width: 30%;
    max-width: 30%;
  }
  
  .about-section {
    padding: 0px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }

  h2.devintro{
    font-size:xx-large;
    color:var(--dgray);
  }

  h3{
    font-size:x-large;
    color: var(--dgray);
    margin:10px;
    margin-top: 25px;
  }

  .title {
    color: grey;
    margin: 0px;
  }
  .position{
    margin: 0px;
    color: var(--dark);
  }

  .desc{
    margin:0px; 
    color:var(--lightblue);
  }
  .web{
    font-size: 40px;
    color: var(--lightblue);
    margin: 3px;
    margin-bottom: 20px;
    padding-bottom:50px;
    }
.web:hover{
    color: var(--dgray);
}

  .git{
    font-size: 45px;
    color: var(--lightblue);
    margin: 3px;
    margin-bottom: 20px;
    padding-bottom:50px;
    }

.web:hover{
    color: var(--dgray);
}
    

.linked{
    font-size: 45px;
    color: var(--lightblue);
    margin: 3px;
    margin-bottom: 20px;
    padding-bottom:50px;
}

.linked:hover{
    color: var(--dgray);
}

.container{
    margin:20px;
}


section{
    position:relative;
    width: 100%;
    height: 30vh;
    margin-top: 40px;
    overflow: hidden;
    background: linear-gradient(0deg, var(--midblue) 0%, var(--lightblue) 20%, white 100%);
}


section .wave{
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height:100px;
    background: url(images/wave.png);
    background-size: 1000px 100px;
}

section .wave.wave1{
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: -10px;
}
@keyframes animate
{
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: 1000px;
    }
}


section .wave.wave2{
    animation: animate2 25s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -10s;
    bottom: 10px;
}
@keyframes animate2
{
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: -1000px;
    }
}


section .wave.wave3{
    animation: animate3 28s linear infinite;
    z-index: 998;
    opacity: 0.3;
    animation-delay: -2s;
    bottom: 20px;
}
@keyframes animate3
{
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: -2000px;
    }
}

section .wave.wave4{
    animation: animate4 30s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -4s;
    bottom: 10px;
}
@keyframes animate4
{
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: 2000px;
    }
}
