body {
    font-family: Arial, sans-serif;
}

.navbar{
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    border-bottom: 1px solid rgba(78, 78, 78, 0.26);
}

h1 {
    margin-left: 50px;

    color: rgb(185, 105, 118);
}
h1:hover {
    color: rgb(129, 66, 77);
}

.data{
    margin-top: 30px;
    margin-left: 40px;
    text-decoration: none;
    color:rgb(197, 127, 139);
}

.data:hover{
    color: rgb(160, 87, 99);
}

.repolink{
    margin-top: 30px;
    margin-left: 40px;
    text-decoration: none;
    color:rgb(197, 127, 139);
}

.repolink:hover{
    color: rgb(160, 87, 99);
}

.intro{
    margin-top: 100px;
    margin-left: 40px;
    font-size: 50px;
    color:Black;
}

p{
    padding: 10px;
    margin-left: 40px;
    margin-bottom: 100px;
    font-size: 20px;
    color:Black;
}

.btn{
    background-color: rgb(197, 127, 139);
    color: black;
    text-decoration: none;
    padding:25px;
    margin-top: 100px;
    margin-left: 60px;
    font-size: 20px;
    border-radius: 10px;
}

table {
    border-collapse: collapse;
}

#table-container {
    width: 100%;
    overflow-x: auto;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

th,
td {
    /*border: 1px solid #ddd; */
    padding: 10px;
    text-align: center;
    
}

/* Style the header cells */
th {
    background-color:rgba(218, 147, 159, 0.815);
    font-weight: bold;
    width: 20%;
}

/* Style the data cells */
td {
    vertical-align: top; /* Align data cells with top of header */
    border-bottom: 1px solid rgba(0, 0, 0, 0.466);
    
}

.icon-link{
    border-radius: 20px;
    background: #7DF0F8;
    
}

.icon-link:hover{
    opacity: 1;
    transition: filter 0.3s ease; /* Smooth transition effect */
}
.apply-button {
    display: flex;
    width: 130px;
    height: 32px;
    padding: 0px 22px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background: #7DF0F8;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none; /* Optional: remove default button borders */
    cursor: pointer; /* Optional: make it visually clear it's clickable */
    text-decoration: none; /* Optional: remove underlines from text */
    font-weight: bold; /* Make the text bold */
    text-decoration: none;
}
.button-link {
    text-decoration: none;
}