<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico?" />
    <script
        src="https://kit.fontawesome.com/a6d1383344.js"
        crossorigin="anonymous">
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techtern Insight</title>
    <link rel="stylesheet" href="static/style.css">
    
</head>
<body>
    <div class="navbar">
        <a href="/">
            <img 
                src="{{url_for('static', filename='/images/Logo.png')}}" 
                class="logo"
            />
        </a>
        <a href="datasite" class="navbtn">
            Postings List
        </a>
        <a href="https://github.com/SushiApril/Techtern-insight" class="navbtn" target="_blank">
            Project Repository
        </a>

        <a href="about" class="navbtn">
            About
        </a>

    </div>

    <h2 style="text-align: center" class="devintro">Meet the Developers</h2>

    <div class="cards_wrapper">
        <div class="card">
            <img src="{{url_for('static', filename='/images/headshot-Sushant.jpeg')}}" style="width:100%">
            <div class="container">
                <h3>Sushant Gupta</h3>
                <p class="title" style="text-align:left;">UC Irvine <span style="float: right;">June 2025</span><br>
                    B.S. Software Engineering</p>
                <p class="position">Project Lead</p>
                <p class="desc">I live by the words "if it doesn't exist, I will build it"<br><br><br></p>
            </div>
            <div class="container">
                <div class="icons" style="text-align: right">
                    <a class="git" href="https://github.com/SushiApril"
                        ><i class="fa fa-github-square"></i
                    ></a>
                    <a class="linked" href="https://www.linkedin.com/in/stga/"
                        ><i class="fa fa-linkedin-square"></i
                    ></a>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="{{url_for('static', filename='/images/headshot-Shanni.jpg')}}" style="width:100%">
            <div class="container">
                <h3>Shanni Wu</h3>
                <p class="title" style="text-align:left;">UC Irvine <span style="float: right;">June 2024</span><br>
                    B.S. Computer Science, B.A. Business Economics</p>
                <p class="position">Fullstack Developer</p>
                <p class="desc">I love helping people achieve new heights. Learn about my other involvements on my socials :D<br><br></p>
            </div>
            
            <div class="container">
                <div class="icons" style="text-align: right">
                    <a class="web" href="https://shanniwu.github.io/website"
                        ><i class="fa-solid fa-house"></i
                    ></a>
                    <a class="git" href="https://github.com/shanniwu"
                        ><i class="fa fa-github-square"></i
                    ></a>
                    <a class="linked" href="https://linkedin.com/in/shanni"
                        ><i class="fa fa-linkedin-square"></i
                    ></a>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="{{url_for('static', filename='/images/headshot-Derek.jpg')}}" style="width:100%">
            <div class="container">
                <h3>Derek Xu</h3>
                <p class="title" style="text-align:left;">UC Irvine <span style="float: right;">June 2025</span><br>
                    B.S. Computer Science</p>
                <p class="position">Backend Developer</p>
                <p class="desc">I'm a second-year learning more about web development, data science, and machine learning. I am very excited for what awaits me in my CS journey!</p>
            </div>
            
            <div class="container">
                <div class="icons" style="text-align: right">
                    <a class="web" href="https://hctsmsl2018.github.io/"
                        ><i class="fa-solid fa-house"></i
                    ></a>
                    <a class="git" href="https://github.com/hctsmsl2018"
                        ><i class="fa fa-github-square"></i
                    ></a>
                    <a class="linked" href="https://www.linkedin.com/in/derek-k-xu/"
                        ><i class="fa fa-linkedin-square"></i
                    ></a>
                </div>
            </div>
        </div>


        <div class="card">
            <img src="{{url_for('static', filename='/images/headshot-aarav.jpg')}}" style="width:100%">
            <div class="container">
                <h3>Aarav Jain</h3>
                <p class="title" style="text-align:left;">ASU <span style="float: right;">May 2025</span><br>
                    B.S. Computer Science</p>
                <p class="position">Site Host</p>
                <p class="desc">I'm a budding Software Engineer. I handle the hosting of this website.<br><br></p>
            </div>
            <div class="container">
                <div class="icons" style="text-align: right">
                    <a class="web" href="https://fido27.tech/"
                        ><i class="fa-solid fa-house"></i
                    ></a>
                    <a class="git" href="https://github.com/fido27"
                        ><i class="fa fa-github-square"></i
                    ></a>
                </div>
            </div>
        </div>

        <div class="card">
            <img src="{{url_for('static', filename='/images/headshot-Fay.jpg')}}" style="width:100%">
            <div class="container">
                <h3>Fay Alrumaihi</h3>
                <p class="title" style="text-align:left;">UC Irvine <span style="float: right;">June 2025</span><br>
                    B.S. Computer Science</p>
                <p class="position">ML Model Developer</p>
                <p class="desc">
                    I love cats<br><br><br></p>
            </div>
            <div class="container">
                <div class="icons" style="text-align: right">
                    <a class="linked" href="https://www.linkedin.com/in/fay-alrumaihi-8b3883229/"
                        ><i class="fa fa-linkedin-square"></i
                    ></a>
                </div>
            </div>
        </div>
        <div class="card">
            <!-- <img src="{{url_for('static', filename='/images/headshot-Fay.jpg')}}" style="width:100%">
            <div class="container">
                <h3>Fay Alrumaihi</h3>
                <p class="title" style="text-align:left;">UC Irvine <span style="float: right;">June 2025</span><br>
                    B.S. Computer Science</p>
                <p class="position">ML Model Developer</p>
                <p class="desc">
                    I love cats<br><br><br></p>
            </div>
            <div class="container">
                <div class="icons" style="text-align: right">
                    <a class="linked" href="https://www.linkedin.com/in/fay-alrumaihi-8b3883229/"
                        ><i class="fa fa-linkedin-square"></i
                    ></a>
                </div>
            </div> -->
        </div>
    </div>



</body>
</html>
