<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data List</title>
    <link rel="stylesheet" href="static/style.css">
    
</head>
<body>

    <div class="navbar">
        <a href="/" style="text-decoration: none;">
            <h1>
                Techtern Insight
            </h1>
        </a>
        <a href="datasite" class="data">
            Postings List
        </a>
        <a href="https://github.com/SushiApril/Techtern-insight" class="repolink" target="_blank">
            Project Repository
        </a>

    </div>

    <div id="table-container">
        <table id="csvTable">
            <tr>
                <th>Company</th>
                <th>Position</th>
                <th>Location</th>
                <th>Salary</th>
                <th>Days Since Posting</th>
                <th>Link</th>
            </tr>
            {% for job in jobs %}
            <tr>
                {% for i, detail in job %}
                <td>
                    {% if i < 4 %}
                        {{ detail }}
                    {% elif i == 4 %}
                        {% if detail == 0 %}
                            &lt1
                        {% elif detail == 31 %}
                            &gt30
                        {% else %}
                            {{ detail }}
                        {% endif %}
                    {% elif i == 5 %}
                        <a href="{{ detail }}" target="_blank" class="button-link">
                            <button class="apply-button icon-link">APPLY</button> 
                        </a>
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
