<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data List</title>
    <link rel="stylesheet" href="static/style.css">
    
</head>
<body>

    <div class="navbar">
        <a href="/">
            <img 
                src="{{url_for('static', filename='/images/Logo.png')}}" 
                class="logo"
            />
        </a>
        <a href="datasite" class="navbtn">
            Postings
        </a>
        <a href="stats" class="navbtn">
            Findings
        </a>
        <!-- <a href="calc" class="navbtn">
            Salary Calculator
        </a> -->

        <a href="about" class="navbtn">
            About
        </a>

        <a href="https://github.com/SushiApril/Techtern-insight" class="navbtn" target="_blank">
            Repo
        </a>

    </div>


    <div id="table-container">
        <table id="csvTable">
            <tr>
                <th>Company</th>
                <th>Position</th>
                <th>Location</th>
                <th>Salary</th>
                <th>Date Posted</th>
                <th>Link</th>
            </tr>
            {% for job in jobs %}
            <tr>
                {% for i, detail in job %}
                <td>
                    {% if i < 4 %}
                        {{ detail }}
                    {% elif i == 4 %}
                        {% if detail == 32 %}
                            {% set date = today - timedelta(days=31) %}
                        {% else %}
                            {% set date = today - timedelta(days=detail) %}
                        {% endif %}

                        {{ "Before " if detail == 32 else "" }}{{ date.month }}/{{ date.day }}/{{ date.year }}
                    {% elif i == 5 %}
                        <a href="{{ detail }}" target="_blank" class="button-link">
                            <button class="apply-button icon-link">APPLY</button> 
                        </a>
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
