<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techtern Insight</title>
    <link rel="stylesheet" href="static/style.css">
    
</head>
<body>
    <div class="navbar">
        <a href="/">
            <img 
                src="{{url_for('static', filename='/images/Logo.png')}}" 
                class="logo"
            />
        </a>
        <a href="datasite" class="navbtn">
            Postings List
        </a>
        <a href="stats" class="navbtn">
            Findings
        </a>
        <!-- <a href="calc" class="navbtn">
            Salary Calculator
        </a> -->
        <a href="https://github.com/SushiApril/Techtern-insight" class="navbtn" target="_blank">
            Project Repository
        </a>

        <a href="about" class="navbtn">
            About
        </a>

    </div>

    <h2 class="intro">
        Find your perfect internship
    </h2>
    <p>The premium resource for UCI students to find tech internships.
        <br>
        <br>
        Get started now to find hundreds of SWE positions near UCI.
    </p>

    <a href="datasite" class="btn">Continue</a>
<!-- 
    <section>
        <div class="wave wave1"></div>
        <div class="wave wave2"></div>
        <div class="wave wave3"></div>
        <div class="wave wave4"></div>

    </section> -->

</body>
</html>
