<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techtern Insight</title>
    <link rel="stylesheet" href="static/style.css">
    
</head>
<body>
    <div class="navbar">
        <a href="/" style="text-decoration: none;">
            <h1>
                Techtern Insight
            </h1>
        </a>
        <a href="datasite" class="data">
            Postings List
        </a>
        <a href="https://github.com/SushiApril/Techtern-insight" class="repolink" target="_blank">
            Project Repository
        </a>

    </div>

    <h2 class="intro">
        Find your perfect internship
    </h2>
    <p>The premium resource for UCI students to find tech internships.
        <br>
        <br>
        Get started now to find hundreds of SWE positions near UCI.
    </p>

    <a href="datasite" class="btn">Continue</a>

</body>
</html>
